/Column/obj
/Column/bin/Debug
/ColumnTest/obj
/ColumnTest/bin/Debug
.vs/

*.suo

Column/bin/Release/Column.pdb

ColumnTest/bin/Release/ColumnTest.exe.config
ColumnTest/bin/Release/ColumnTest.pdb
desktop.ini